@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Oswald", "Verdana",sans-serif;
}

#game-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-card {
    width: auto;
    flex-shrink: 0;
    background-color: #eee;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.running-score {
    display: flex;
    gap: 4rem;
    margin-bottom: 4rem;
}

.player-selection {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}
.player-selection button {
    flex: 1;
    width: 8rem;
    height: 8rem;

}


#result-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;

    text-align: center;

    visibility: hidden;
}

#result-annouce {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: auto;
    padding-inline: 4rem;
    padding-block: 2rem;

    background-color: #eee;
    border-radius: 8px;

}

#heading-result {
    margin-bottom: 1.6rem;
}

.scores {
    display: flex;
    gap: 3rem;
}

.scores p {
    width: 100%;
    font-weight: 600;
    text-align: center;
}

.btn {
    border: none;
    padding: 0.6rem 1rem;
    background-color: #000;
    color: #fff;
}
.btn:hover {
    cursor: pointer;
    background-color: #333;
}

#play-again-btn {
    margin-top: 2rem;
    width: 100%;
}
#play-again-btn:hover {
    cursor: pointer;
    background-color: #333;
}

