* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#game-wrapper {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.running-score {
    display: flex;
    gap: 60px;
}

#result-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;

    text-align: center;

    visibility: hidden;
}

#result-annouce {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: auto;
    padding-inline: 4rem;
    padding-block: 2rem;

    background-color: #eee;
    border-radius: 8px;

}

#heading-result {
    margin-bottom: 1.6rem;
}

.scores {
    display: flex;
    gap: 3rem;
}

.scores p {
    font-weight: 600;
    text-align: center;
}

.btn {
    border: none;
    padding: 0.6rem 1rem;
    background-color: #000;
    color: #fff;
}
.btn:hover {
    cursor: pointer;
    background-color: #333;
}

#play-again-btn {
    margin-top: 2rem;
    width: 100%;
}
#play-again-btn:hover {
    cursor: pointer;
    background-color: #333;
}

