body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#game-wrapper {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.running-score {
    display: flex;
    gap: 60px;
}

#result-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;

    text-align: center;

    display: none;
}

#result-annouce {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: auto;
    padding-inline: 4rem;
    padding-block: 2rem;

    background-color: #eee;
    border-radius: 8px;

}

.scores {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.scores p {
    font-weight: 600;
}